<div class="flex flex-col gap-5 mb-3">
  <p class="text-center">
    <span class="text-xl font-extrabold text-primary">Registre-se</span>
  </p>
  <p>Digite seus dados para criar uma nova conta</p>
</div>
<form class="flex flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <p-float-label variant="on">
      <label for="username">Nome</label>
      <input
        pSize="small"
        pInputText
        [pKeyFilter]="'alpha'"
        type="text"
        id="username"
        formControlName="username"
        fluid>
    </p-float-label>
    <div class="min-h-6">
      @if(form.get('username')?.touched && form.get('username')?.dirty) {
        @if(form.controls['username'].hasError('required')){
          <span class="text-red-800 text-xs">Este campo é obrigatório</span>
        }
      }
    </div>
  </div>
  <div>
    <p-float-label variant="on">
      <label for="email">Email</label>
      <input
        pSize="small"
        pInputText
        [pKeyFilter]="'email'"
        type="email"
        id="email"
        formControlName="email"
        fluid>
    </p-float-label>
    <div class="min-h-6">
      @if(form.get('email')?.touched && form.get('email')?.dirty) {
        @if(form.controls['email'].hasError('required')){
          <span class="text-red-800 text-xs">Este campo é obrigatório</span>
        }
        @else if(form.controls['email'].hasError('email')){
          <span class="text-red-800 text-xs">Este campo deve conter um email válido</span>
        }
      }
    </div>
  </div>
  <div>
    <p-float-label variant="on">
      <label for="password">Senha</label>
      <input
        pSize="small"
        pInputText
        type="password"
        id="password"
        formControlName="password"
        fluid>
    </p-float-label>
    <div class="min-h-6">
      @if(form.get('password')?.touched && form.get('password')?.dirty) {
        @if(form.controls['password'].hasError('required')){
          <span class="text-red-800 text-xs">Este campo é obrigatório</span>
        }
        @else if(form.controls['password'].hasError('minlength')){
          <span class="text-red-800 text-xs">Este campo deve ter ao menos 8 caracteres</span>
        }
        @else if(form.hasError('passwordMismatch')) {
          <span class="text-red-800 text-xs">As senhas não combinam</span>
        }
      }
    </div>
  </div>
  <div>
    <p-float-label variant="on">
      <label for="password_confirmation">Confirme a Senha</label>
      <input
        pSize="small"
        pInputText
        type="password"
        id="password_confirmation"
        formControlName="password_confirmation"
        fluid>
    </p-float-label>
    <div class="min-h-6">
      @if(form.get('password_confirmation')?.touched && form.get('password_confirmation')?.dirty) {
        @if(form.controls['password_confirmation'].hasError('required')){
          <span class="text-red-800 text-xs">Este campo é obrigatório</span>
        }
        @else if(form.controls['password_confirmation'].hasError('minlength')){
          <span class="text-red-800 text-xs">Este campo deve ter ao menos 8 caracteres</span>
        }
        @else if(form.hasError('passwordMismatch')) {
          <span class="text-red-800 text-xs">As senhas não combinam</span>
        }
      }
    </div>
  </div>
  <button
    pButton
    type="submit"
  >
    Entrar
  </button>
  <div>
    <span class="text-sm hover:underline cursor-pointer hover:text-blue-800">Já tenho cadastro</span>
  </div>
</form>
