.error-layout-container {
  background-image: url('/assets/images/backgrounds/error-background.svg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
