<p-drawer #drawerRef (onHide)="toggleSidebar()" [(visible)]="visible">
  <ng-template #headless>
    <div class="flex flex-col h-full">
      <div class="flex items-center justify-between px-6 pt-4 shrink-0">
        <span class="inline-flex items-center gap-2">
            <span class="font-semibold text-2xl text-primary">Easy Creche</span>
        </span>
        <span>
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded
              text
              styleClass="h-3 w-3">
            </p-button>
        </span>
      </div>
      <div class="overflow-y-auto scrollbar-none">
        <ul class="list-none pt-4 px-4 m-0">
          <li>
            <ul class="list-none p-0 m-0 overflow-hidden">
              @for (menuItem of menu; track menuItem.route) {
                @if (menuItem.isActive) {
                  <li>
                    <a
                      (click)="menuItem.isHome ? navigateTo(['']) : navigateTo([menuItem.route])"
                      class="flex items-center cursor-pointer p-4 rounded-border hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                      <i [ngClass]="menuItem.icon"
                         class="pi mr-2"></i>
                      <span class="font-medium">{{menuItem.label}}</span>
                    </a>
                  </li>
                }
              }
            </ul>
          </li>
        </ul>
      </div>
      <div class="mt-auto">
        <hr class="mb-4 mx-4 border-t border-0 border-surface"/>
        <a
          class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-border hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
          <i class="pi pi-power-off mr-2"></i>
          <span class="font-bold">Logout</span>
        </a>
      </div>
    </div>
  </ng-template>
</p-drawer>
