<div class="header-container">
  <p-menubar class="header-menubar-container">
    <ng-template #start>
      <app-sidebar></app-sidebar>
      <p-button (click)="layoutService.toggleSidebar()" text outlined rounded icon="pi pi-bars" />
    </ng-template>
    <ng-template #end>
      <div class="flex items-center justify-between gap-2 w-full">
        <div class="">{{layoutService.title$.getValue()}}</div>
        <input type="text" pInputText placeholder="Search" pSize="small" class="hidden sm:block lg:w-[400px]" />
        <div class="flex gap-1 items-center">
          <app-darkmode-selector />
          <p-avatar class="ml-2" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>
