.header-container {
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  .p-menubar-end {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
