<div class="flex flex-col gap-5 mb-3">
  <p class="text-center">
    <span class="text-xl font-extrabold text-primary">Nova Senha</span>
  </p>
  <p>Digite sua nova senha</p>
</div>
<form class="flex flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <p-float-label variant="on">
      <label for="password">Senha</label>
      <input
        pSize="small"
        pInputText
        type="password"
        id="password"
        formControlName="password"
        fluid>
    </p-float-label>
    <div class="min-h-6">
      @if(form.get('password')?.touched && form.get('password')?.dirty) {
        @if(form.controls['password'].hasError('required')){
          <span class="text-red-800 text-xs">Este campo é obrigatório</span>
        }
        @else if(form.controls['password'].hasError('minlength')){
          <span class="text-red-800 text-xs">Este campo deve ter ao menos 8 caracteres</span>
        }
        @else if(form.hasError('passwordMismatch')) {
          <span class="text-red-800 text-xs">As senhas não combinam</span>
        }
      }
    </div>
  </div>
  <div>
    <p-float-label variant="on">
      <label for="password_confirmation">Confirme a Senha</label>
      <input
        pSize="small"
        pInputText
        type="password"
        id="password_confirmation"
        formControlName="password_confirmation"
        fluid>
    </p-float-label>
    <div class="min-h-6">
      @if(form.get('password_confirmation')?.touched && form.get('password_confirmation')?.dirty) {
        @if(form.controls['password_confirmation'].hasError('required')){
          <span class="text-red-800 text-xs">Este campo é obrigatório</span>
        }
        @else if(form.controls['password_confirmation'].hasError('minlength')){
          <span class="text-red-800 text-xs">Este campo deve ter ao menos 8 caracteres</span>
        }
        @else if(form.hasError('passwordMismatch')) {
          <span class="text-red-800 text-xs">As senhas não combinam</span>
        }
      }
    </div>
  </div>
  <button
    pButton
    type="submit"
  >
    Confirmar Alteração
  </button>
</form>
