<form class="p-5 flex flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-fluid>
    <div class="mb-5">
      <p-floatlabel variant="on">
        <label for="name">
          Nome*
        </label>
        <input
          id="name"
          pSize="small"
          pInputText
          formControlName="name"
          [class]="invalidInput('name')"
          fluid
        />
      </p-floatlabel>
      <div class="min-h-5">
        @if (checkValidation('name')) {
          <small>{{ returnErrors('name') }}</small>
        }
      </div>
    </div>
    <div class="mb-5">
      <p-floatlabel variant="on">
        <label for="email">
          Email*
        </label>
        <input
          id="email"
          pSize="small"
          pInputText
          formControlName="email"
          [class]="invalidInput('email')"
          fluid
        />
      </p-floatlabel>
      <div class="min-h-5">
        @if (checkValidation('email')) {
          <small>{{ returnErrors('email') }}</small>
        }
      </div>
    </div>
    <div class="mb-5">
      <p-floatlabel variant="on">
        <label for="password">
          Senha*
        </label>
        <input
          type="password"
          id="password"
          pSize="small"
          pInputText
          formControlName="password"
          [class]="invalidInput('password')"
          fluid
        />
      </p-floatlabel>
      <div class="min-h-5">
        @if (checkValidation('password')) {
          <small>{{ returnErrors('password') }}</small>
        }
      </div>
    </div>
    <div class="mb-5">
      <p-floatlabel variant="on">
        <label for="password_confirmation">
          Confirmação de Senha*
        </label>
        <input
          type="password"
          id="password_confirmation"
          pSize="small"
          pInputText
          formControlName="password_confirmation"
          [class]="invalidInput('password_confirmation')"
          fluid
        />
      </p-floatlabel>
      <div class="min-h-5">
        @if (checkValidation('password_confirmation')) {
          <small>{{ returnErrors('password_confirmation') }}</small>
        }
      </div>
    </div>
    <div formGroupName="meta">
      <div class="mb-5">
        <p-floatlabel variant="on">
          <label for="cpf">
            CPF
          </label>
          <input
            id="cpf"
            pSize="small"
            pInputText
            formControlName="cpf"
            [class]="invalidInput('cpf')"
            fluid
          />
        </p-floatlabel>
        <div class="min-h-5">
          @if (checkValidation('cpf')) {
            <small>{{ returnErrors('cpf') }}</small>
          }
        </div>
      </div>
      <div class="mb-5">
        <p-floatlabel variant="on">
          <label for="address">
            Endereço
          </label>
          <input
            id="address"
            pSize="small"
            pInputText
            formControlName="address"
            [class]="invalidInput('address')"
            fluid
          />
        </p-floatlabel>
        <div class="min-h-5">
          @if (checkValidation('address')) {
            <small>{{ returnErrors('address') }}</small>
          }
        </div>
      </div>
      <div class="mb-5">
        <p-floatlabel variant="on">
          <label for="phone">
            Telefone
          </label>
          <input
            id="phone"
            pSize="small"
            pInputText
            formControlName="phone"
            [class]="invalidInput('phone')"
            fluid
          />
        </p-floatlabel>
        <div class="min-h-5">
          @if (checkValidation('phone')) {
            <small>{{ returnErrors('phone') }}</small>
          }
        </div>
      </div>
    </div>
    <div>
      <p-button
        size="small"
        severity="secondary"
        [loading]="loading"
        [label]="defineLabel()"
        (onClick)="onSubmit()"
      />
    </div>
  </p-fluid>
</form>
